body {
    font-family: 'Karla';
    margin: 0;
    background-color: #5c78a3;
    overflow: auto;
}

.hamburger-menu {
    display: flex;
    flex-direction: column;
    cursor: pointer;
    padding-top: 20px;
    padding-right: 40px;
    right: 10px;
    position: fixed;
    top: 10px;
    z-index: 1000;
}

.bar {
    width: 40px;
    height: 5px;
    background-color: #fff;
    margin: 4px 0;
    transition: 0.4s;
}

.menu-overlay {
    overflow: hidden;
    position: fixed;
    top: 0;
    right: -500px; 
    height: 100%;
    width: 500px; 
    background-color: #fff;
    transition: right 0.4s ease;
    z-index: 1001;
}

.menu-content {
    overflow: hidden;
    transform: translateY(60%);
    text-align: center;

}

.menu-content p {
    color: #000;
    font-weight: bold;
    font-size: 25px;
    margin-bottom: 40px;
}

.menu-content a {
    text-decoration: none;
    color: #000;

}

.show-menu {
    right: 0; 
}


h1 {
    color: #fff;
    font-size: 70px;
    font-weight: bold;
    text-align: center;
}

.quarter-circle {
    width: 150px;
    height: 150px;
    background-color: #fff; 
    border-radius: 0 0 100% 0; 
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
}
.title-main-page {
    position: absolute;
    top: 50%;
    left: 3%; 
    transform: translateY(-40%);
}

.buttons-main-page {
    position: absolute;
    top: 50%;
    right: 10%;
    transform: translateY(-40%);
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    z-index: 1;
}

.buttons-main-page button {
    margin-bottom: 60px;
    width: 250px;
    height: 60px;
    padding: 10px;
    background-color: #fff;
     border: 2px solid #fff;
    border-radius: 40px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-size: 15px;
    letter-spacing: 2px;
}
.buttons-main-page button span {
    width: 100%; 
    text-align: center;
}

.buttons-main-page button a {
    text-decoration: none;
    color: #000;
}

.how-we-work {
    display: flex;
}

.how-we-work .column {
    flex: 1;
    padding: 20px;
}

.how-we-work .column:nth-child(odd) {
    transform: translateY(50%);
    display: grid;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: #fff;
    font-weight: bold;
    text-align: justify;
    font-size: 25px;
}

.file-list {
    margin-top: 100px;
    list-style-type: none;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.file-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.file-rectangle {
    padding-left: 10px;
    padding-right: 10px;
    height: 100px;
    width: 200px;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-size: 15px;
}

.delete-link {
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    height:20px;
    width: 200px;
    background-color: #f14444;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    margin-bottom: 30px;


}
.file-link,
.delete-link {
    text-decoration: none;
    color: #000;
    cursor: pointer;
}


.send-file {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

.send-file {
    text-align: center;
}

.send-file button {
    width: 500px;
    height: 60px;
    margin-top: 15px;
    background-color: #fff;
    color: #000;
    border: 2px solid #fff;
    border-radius: 40px;
    cursor: pointer;
    font-weight: bold;
    font-size: 15px;
    letter-spacing: 2px;
}

input[type="file"] {
    display: none;
}

.file-input-container {
    background: #fff;
    display: flex;
    align-items: center;
    width: 500px;
    height: 60px;

}

.custom-file-upload {
    margin-left: 10px;
    color: #fff;
    background: #5c78a3;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
}

.file-input-info {
    margin-left: 10px;
}

.specific-file {
    margin-top: 100px;
    text-align: center;
}

.specific-file h1 {
    font-size: 20px;
}

.details-table {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.details-table table {
    width: 52%; 
    margin: auto;
    border-collapse: collapse;
}

.details-table thead {
    background-color: #f2f2f2;
}

.details-table th, td {
    border: 1px solid #ddd;
    padding: 4px;
    text-align: center;
}


.explore-files {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.explore-files h1 {
    text-align: center;
}


.prediction {
    background-color: yellow;
    color: black;
}

.prediction .n6 {
    background-color: red;
    color: black;
}

.prediction .n9 {
    background-color: #B15EFF;
    color: black;
}

.prediction .expsmooth015 {
    background-color: red;
    color: black;
}

.prediction .expsmooth020 {
    background-color: #B15EFF;
    color: black;
}

.flex-container {
    display: flex; /* Ustawienie kontenera na flexbox */
    justify-content: center; /* Wyrównanie do środka poziomo */
    margin-top: 50px;
}
.rectangle {
  width: 200px; /* Szerokość prostokąta */
  height: 300px; /* Wysokość prostokąta */
  margin: 10px; /* Margines między prostokątami */
  background-color: #fff; /* Kolor tła prostokąta */
}

.rectangle h3 {
    text-align: center;
}
