{% extends "base.html" %}

{% block head %}
    <title>Jak działamy?</title>
{% endblock %}

{% block body %}
<div class="how-we-work">
    <div class="column">
        <p>Aplikacja webowa Prognozator Popytu to  narzędzie analityczne, które umożliwia analizę historii transakcji ze sklepu internetowego. Prognozator popytu umożliwia wizualizację wyników sprzedażowych dla wybranych produktów w wybranym okresie czasowym. Aplikacja webowa pozwala na prognozę popytu czterema metodami:
        </p>
        <ul>
            <li>metodą średniej stałej,</li>
            <li>metodą średnich ruchomych,</li>
            <li>metodą wygładzenia wykładniczego,</li>
            <li>metodą regresji liniowej.</li>
        </ul>
    </div>
    <div class="column">
        <img src="static/images/example_chart.png">
    </div>
</div>
{% endblock %}