{% extends "base.html" %}

{% block head %}
    <title>{{file_name}}</title>
{% endblock %}

{% block body %}
<div class="specific-file">
    <h1 class="">Selected products:</h1>
    <h1 class="">        
        {% for product in selected_products %}
        <li>{{ product }}</li>
        {% endfor %}
    </h1>
    <h1 class="">Analysis period:</h1>
    <h1 class="">  
        <li> From {{ start_month }}/{{ start_year }}</li>
        <li> To {{ end_month }}/{{ end_year }}</li>
    </h1>
    <h3>Demand forecast for the next month using the exponential smoothing method</h3>
    <div class="details-table">
        <table>
            <thead>
                <tr>
                    <th>Year-Month</th>
                    <th>Total transaction value [USD/month]</th>
                    <th>α = 0,10</th>
                    <th>α = 0,15</th>
                    <th>α = 0,20</th>
                </tr>
            </thead>
            <tbody>
                {% for row in data %}
                    <tr>
                        <td>{{ row['Transaction Date'] }}</td>
                        <td>{{ row['Value'] }}</td>
                        <td>-</td>
                        <td>-</td>
                        <td>-</td>
                    </tr>
                {% endfor %}
                <tr class="prediction">
                    <td>{{ forecast_month }}</td>
                    <td>-</td>
                    <td class="expsmooth010">{{smoothed_values_010}}</td>
                    <td class="expsmooth015">{{smoothed_values_015}}</td>
                    <td class="expsmooth020">{{smoothed_values_020}}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <img src="data:image/png;base64, {{chart_data}}"> 
</div>
{% endblock %}