{% extends "base.html" %}

{% block head %}
    <title>{{file_name}}</title>
{% endblock %}

{% block body %}
<div class="specific-file">
    <h1 class="">Selected products:</h1>
    <h1 class="">        
        {% for product in selected_products %}
        <li>{{ product }}</li>
        {% endfor %}
    </h1>
    <h1 class="">Analysis period:</h1>
    <h1 class="">  
        <li> From {{ start_month }}/{{ start_year }}</li>
        <li> To {{ end_month }}/{{ end_year }}</li>
    </h1>
    <h3>Demand forecast for the next month</h3>
    <div class="details-table">
        <table>
            <tr>
                <th colspan="2">Method</th>
                <th>Forecast for the {{ forecast_month }} [USD/month]</th>
            </tr>
            <tr>
                <td rowspan="1" colspan="2">Simple Moving Average Method</td>
                <td>{{ average }}</td>
            </tr>
            <tr>
                <td rowspan="3">Moving Average Method</td>
                <td>n = 3</td>
                <td>{{moving_avgs_dict['n3']}}</td>
            </tr>
            <tr>
                <td>n = 6</td>
                <td>{{moving_avgs_dict['n6']}}</td>
            </tr>
            <tr>
                <td>n = 9</td>
                <td>{{moving_avgs_dict['n9']}}</td>
            </tr>
            <tr>
                <td rowspan="3">Exponential Smoothing Method</td>
                <td>α = 0.1</td>
                <td>{{smoothed_values_010}}</td>
            </tr>
            <tr>
                <td>α = 0.15</td>
                <td>{{smoothed_values_015}}</td>
            </tr>
            <tr>
                <td>α = 0.20</td>
                <td>{{smoothed_values_020}}</td>
            </tr>
            <tr>
                <td rowspan="1" colspan="2">Linear Regression Method</td>
                <td>{{ forecast_linear_regression }}</td>
            </tr>
        </table>
    </div>
    
    <br>
</div>
{% endblock %}