{% extends "base.html" %}

{% block head %}
    <title>{{file_name}}</title>
{% endblock %}

{% block body %}
<div class="specific-file">
    <h1 class="">Selected products:</h1>
    <h1 class="">        
        {% for product in selected_products %}
        <li>{{ product }}</li>
        {% endfor %}
    </h1>
    <h1 class="">Analysis period:</h1>
    <h1 class="">  
        <li> From {{ start_month }}/{{ start_year }}</li>
        <li> To {{ end_month }}/{{ end_year }}</li>
    </h1>
    <br>

    <h3>Total transaction value in the given month</h3>
    <div class="details-table">
        <table class="">
            <thead>
                <tr>
                    <th>Year-Month</th>
                    <th>Total transaction value [PLN/month]</th>
                </tr>
            </thead>
            <tbody>
                {% for row in data %}
                    <tr>
                        <td>{{ row['Transaction Date'] }}</td>
                        <td>{{ row['Value'] }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <img src="data:image/png;base64, {{chart_data}}"> 
{% endblock %}