{% extends "base.html" %}

{% block head %}
    <title>Dane z pliku {{file_name}}</title>
{% endblock %}

{% block body %}
<div class="specific-file">
    <h1 class="">Wybrane produkty:</h1>
    <h1 class="">        
        {% for product in selected_products %}
        <li>{{ product }}</li>
        {% endfor %}
    </h1>
    <h1 class="">Okres analizy:</h1>
    <h1 class="">  
        <li> Od {{ start_month }}/{{ start_year }}</li>
        <li> Do {{ end_month }}/{{ end_year }}</li>
    </h1>
    <br>

    <h3>Łączna wartość transakcji w danym miesiącu</h3>
    <div class="details-table">
        <table class="">
            <thead>
                <tr>
                    <th>Rok-Miesiąc</th>
                    <th>Łączna wartość transakcji [zł/m-c]</th>
                </tr>
            </thead>
            <tbody>
                {% for row in data %}
                    <tr>
                        <td>{{ row['Data transakcji'] }}</td>
                        <td>{{ row['Wartość'] }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <img src="data:image/png;base64, {{chart_data}}"> 
{% endblock %}




