{% extends "base.html" %}

{% block head %}
    <title>Dane z pliku {{file_name}}</title>
{% endblock %}

{% block body %}
<div class="specific-file">
    <h1 class="">Wybrane produkty:</h1>
    <h1 class="">        
        {% for product in selected_products %}
        <li>{{ product }}</li>
        {% endfor %}
    </h1>
    <h1 class="">Okres analizy:</h1>
    <h1 class="">  
        <li> Od {{ start_month }}/{{ start_year }}</li>
        <li> Do {{ end_month }}/{{ end_year }}</li>
    </h1>
    <h3>Prognoza popytu dla kolejnego miesiąca metodą średnich ruchonych</h3>
    <div class="details-table">
        <table class="">
            <thead>
                <tr>
                    <th>Rok-Miesiąc</th>
                    <th>Łączna wartość transakcji [zł/m-c]</th>
                    <th>n = 3</th>
                    <th>n = 6</th>
                    <th>n = 9</th>
                </tr>
            </thead>
            <tbody>
                {% for row in data %}
                    <tr>
                        <td>{{ row['Data transakcji'] }}</td>
                        <td>{{ row['Wartość'] }}</td>
                        <td>-</td>
                        <td>-</td>
                        <td>-</td>
                    </tr>
                {% endfor %}
                <tr class="prediction">
                    <td>{{ forecast_month }}</td>
                    <td>-</td>
                    <td class="n3">{{moving_avg_n3}}</td>
                    <td class="n6">{{moving_avg_n6}}</td>
                    <td class="n9">{{moving_avg_n9}}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <img src="data:image/png;base64, {{chart_data}}"> 
</div>
{% endblock %}




