{% extends "base.html" %}

{% block head %}
    <title>Your files</title>
{% endblock %}

{% block body %}
{% if files %}
<ul class="file-list">
    {% for file in files %}
        <li class="file-item">
            <div class="file-container">
                <div class="file-rectangle">
                    <a href="{{ url_for('view_file', file_name=file) }}" class="file-link">{{ file }}</a>
                </div>
                <div class="delete-container">
                    <a href="{{ url_for('delete_file', file_name=file) }}" class="delete-link" onclick="return confirm('Are you sure you want to delete the file {{file}}?')">Delete</a>
                </div>
            </div>
        </li>
    {% endfor %}
</ul>
{% else %}
<div class="no-files">
<h1>No data available</h1>


<button id="submitButton" onclick="window.location.href='{{ url_for('chooseFile') }}'">UPLOAD YOUR DATA</button>
</div>
{% endif %}


{% endblock %}