{% extends "base.html" %}

{% block head %}
    <title>Określ zakres analizy</title>
{% endblock %}

{% block body %}


<form action="/generate_analysis" method="post">
<input type="hidden" name="file_name" value="{{ file_name }}">
<div class="flex-container">
    <div class="rectangle">
        <h3><label>Wybierz <br> kategorie</label><br></h3>
        {% for category in unique_categories %}
            <label>
                <input type="checkbox" name="category" value="{{ category }}"> {{ category }} <br>
            </label>
        {% endfor %}
    </div>
    <div class="rectangle">
        <h3><label>Wybierz <br> produkty</label><br></h3>
        {% for product in unique_products %}
            <label>
                <input type="checkbox" name="product" value="{{ product }}" onchange="uncheckCategory(this)"> {{ product }} <br>
            </label>
        {% endfor %}
    </div>
    <div class="rectangle rectangle-custom">
            <h3><label>Wybierz <br> okres</label><br></h3>
    <div class="label-container">
      <label>Od: </label>
        <div class="tooltip">
            <span class="tooltiptext">Miesiąc początkowy</span>
            <select name="start_month">
                {% for month in range(1, 13) %}
                    <option value="{{ month }}">{{ month }}</option>
                {% endfor %}
            </select>
        </div> 
        /
        <div class="tooltip">
            <span class="tooltiptext">Rok początkowy</span>
            <select name="start_year">
                {% for year in range(min_year, max_year + 1) %}
                    <option value="{{ year }}">{{ year }}</option>
                {% endfor %}
            </select>
        </div> 
    </div>
    <br>
        <div class="label-container">
            <br>
            <label>Do: </label>
            <div class="tooltip">
                <span class="tooltiptext-bottom">Miesiąc końcowy</span>
                <select name="end_month">
                    {% for month in range(1, 13) %}
                        <option value="{{ month }}">{{ month }}</option>
                    {% endfor %}
                </select>
            </div>
        /
            <div class="tooltip">
                <span class="tooltiptext-bottom">Rok końcowy</span>
                <select name="end_year">
                    {% for year in range(min_year, max_year + 1) %}
                        <option value="{{ year }}">{{ year }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
    </div>
</div>

<div class="question">
    <h3>Jaką metodę chcesz dokonać prognozy popytu?</h3>
    <br>
    <label>
        <input type="radio" name="choice_forecast" value="forecast-no"> Chcę tylko wyświetlić dane
    </label>
    <br>
    <label>
        <input type="radio" name="choice_forecast" value="forecast-average"> Metodą średnich stałych
    </label>
    <br>
    <label>
        <input type="radio" name="choice_forecast" value="forecast-average-moving"> Metodą średnich ruchomych
    </label>
    <br>
    <label>
        <input type="radio" name="choice_forecast" value="forecast-exponential-smoothing"> Metodą wykładzenia wykładniczego
    </label>
    <br>
    <label>
        <input type="radio" name="choice_forecast" value="forecast-linear-regression"> Metodą regresji liniowej
    </label>
    <br>
    <label>
        <input type="radio" name="choice_forecast" value="forecast-all"> Chcę wyświetlić porównanie wyników wszystkich wymienionych wyżej metod
    </label>
    <button id="submitButton" type="submit" disabled>Przejdź do analizy</button>
</div>
</form>
<script>
    var categoryProductDict = {{ category_product_dict | tojson | safe }};
 </script>
<script src="{{url_for('static', filename='scripts/checkBoxes.js')}}"></script>
<script src="{{url_for('static', filename='scripts/submitButton.js')}}"></script>

{% endblock %}