{% extends "base.html" %}

{% block head %}
    <title>Jak działamy?</title>
{% endblock %}

{% block body %}
<div class="how-we-work">
    <div class="column">
        <p> Aplikacja Prognozator Popytu to zaawansowane narzędzie analityczne, które umożliwia generowanie prognoz popytu na podstawie danych zawartych w plikach CSV przechowywanych na serwerze. Działa na podstawie dwóch głównych metod: średniej stałej i średniej ruchomej, co pozwala na elastyczne dostosowanie prognoz do różnych typów danych. </p>
    </div>
    <div class="column">
        <img src="static/images/example_chart.png">
    </div>
</div>
{% endblock %}