{% extends "base.html" %}

{% block head %}
    <title>Jak działamy?</title>
{% endblock %}

{% block body %}
<div class="how-we-work">
    <div class="column">
        <p>The Demand Forecasting web application is an analytical tool that allows the analysis of transaction history from an online store. The Demand Forecaster enables the visualization of sales results for selected products in a chosen time period. The web application allows demand forecasting using four methods:</p>
        <ul>
            <li>Constant average method</li>
            <li>Moving averages method</li>
            <li>Exponential smoothing method</li>
            <li>Linear regression method</li>
        </ul>
        
    </div>
    <div class="column">
        <img src="static/images/example_chart.png">
    </div>
</div>
{% endblock %}