{% extends "base.html" %}

{% block head %}
    <title>Prognozator Popytu</title>
{% endblock %}

{% block body %}
<div class="quarter-circle"></div>
    <div class="title-main-page">
    <h1>PROGNOZOWANIE<br>POPYTU</h1>
    </div>

    <div class="buttons-main-page">

        <button><a href="{{ url_for('howWeWork') }}">JAK DZIAŁAMY</a></button>

        <button><a href="{{ url_for('chooseFile') }}">PRZEŚLIJ SWOJE DANE</a></button>

        <button><a href="{{ url_for('explore_files') }}">WYŚWIETL SWOJE DANE</a></button>

    </div>
{% endblock %}
