{% extends "base.html" %}

{% block head %}
    <title>Prognozator Popytu</title>
{% endblock %}

{% block body %}
<div class="quarter-circle"></div>
    <div class="title-main-page">
    <h1>PROGNOZOWANIE<br>POPYTU</h1>
    </div>

    <div class="buttons-main-page">
        
        <button onclick="window.location.href='{{ url_for('howWeWork') }}'">JAK DZIAŁAMY</button>

        <button onclick="window.location.href='{{ url_for('chooseFile') }}'">PRZEŚLIJ SWOJE<br>DANE</button>

        <button onclick="window.location.href='{{ url_for('exploreFiles') }}'">WYŚWIETL SWOJE<br>DANE</button>

    </div>
{% endblock %}